# 依賴
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# 建置檔案
/build
/dist

# 開發用檔案
.git
.gitignore
README.md
.env.local
.env.development
.env.test
.env.production

# IDE 相關
.idea
.vscode
*.swp
*.swo

# 其他
.DS_Store 